name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install dependencies
        run: npm install

      - name: Run Lint
        run: npx eslint .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Build and push
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t doragayev/portfolio-project:$IMAGE_TAG .
          docker push doragayev/portfolio-project:$IMAGE_TAG

      - name: Update image tag in deployment
        run: |
          sed -i "s|doragayev/portfolio-project:.*|doragayev/portfolio-project:${IMAGE_TAG}|g" k8s/base/deployment.yaml



      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add k8s/base/deployment.yaml
          git commit -m "update image tag [skip ci]" || echo "No changes"
          git push

